extends layout
block content
  div(id='circle')
  div(id='buttonContainer')
  img(id='image' src='/images/' + imageSrc)
  each c in characters
    div(class='character')= c
  script(src='/javascripts/image.js')