body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#circle {
  border: solid 2px black;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
}

.pickCharacter {
  transition: all 250ms;
  border: solid black 1px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  user-select: none;
  background-color: grey;
}

.pickCharacter:hover {
  background-color: white;
}
