body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#circle {
  border: solid 2px black;
  border-radius: 50%;
  position: absolute;
  height: 32px;
  width: 32px;
}

#image {
  height: 400px;
  width: 400px;
  background-color: grey;
}
